* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

header {
    background-color: #74a0cd;
    text-align: right;
    padding: 216px 230px 364px 845px;
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.heading h1 {
    font-size: 65px;
    color: #151414;
    width: 525px;

}
