* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

header {
    background-color: #74a0cd;
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;

    padding: 216px 230px 364px 845px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;   /* pushes all blocks to the right */
    text-align: right;
}

.heading h1 {
    width: 525px;
    font-size: 65px;
}

.para p {
    width: 494px;
    margin-top: 24px;
    line-height: 26px;
}


.btn button {
    margin-top: 32px;
    color: white;
    font-size: 20px;
    background-color: #F15B22;
    border: none;
    padding: 20px 25px;
    border-radius: 5px;
    font-weight: 600;
}
