* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

header {
    background-color: #74a0cd;
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;

    padding: 216px 230px 364px 845px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;   /* pushes all blocks to the right */
    text-align: right;
}

.heading h1 {
    width: 525px;
    font-size: 65px;
}

.para p {
    width: 494px;
    margin-top: 24px;
    line-height: 26px;
    color: #444343;
}


.btn button {
    margin-top: 32px;
    color: white;
    font-size: 20px;
    background-color: #F15B22;
    border: none;
    padding: 20px 25px;
    border-radius: 5px;
    font-weight: 600;
}
.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 95px;
    margin-top: 260px;
    padding: 0 80px;
}


/* IMAGE */

/* Circular background */
.image-wrapper {
    width: 522px;
    height: 522px;
    background-color: #ffe3dc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}


.image-wrapper img {
    height: auto;   /* taller than the circle */
    width: auto;
    position: relative;
    bottom: -2px;   /* pushes image down slightly */
}


/* CARD */
.card {
    max-width: 520px;
    margin-left: 10px;

}

.card .sub-heading h2 {
    width: 290px;
    font-size: 40px;
    line-height: 1.2;
}


.card .text-content p {
    line-height: 26px;
    color: #444343;
    margin: 24px 0 16px;

    width: 416px;
}

.card .text-content ul {
    width: 349px;
    margin-top: 16px;
    list-style: none;
    padding-left: 0;
}

.card .text-content ul li {
    position: relative;
    padding-left: 24px;
    line-height: 26px;
    color: #444343;
}

.card .text-content ul li::before {
    content: "✓";
    position: absolute;
    left: 0;
    color: #16D887;
    font-weight: bold;
}

.plan-section {
    text-align: center;
    margin-top: 130px;
}

.plan-section h3 {
    font-size: 40px;
}

.plan-section .plan-cards {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 60px;
}

.plan-section .plan-cards h4 {
    font-size: 28px;
    margin: 24px 0 16px;
}

.plan-section .plan-cards p {
    font-size: 25px;
    color: #737272;
    font-weight: 500;
}

